/* Main */
:root {
  --color-gradient-1: #DE4020;
  --color-gradient-2: orange;
  --color-gradient-intermediate: #ff6e00;

  /* Document Scroll */
  --document-scroll-border-radius: 5px;
  --document-scroll-thickness: 4px;
  --document-scroll-thickness-hover-active: 8px;
  --document-scroll-background: linear-gradient(to bottom, #DE4020 0%, orange 100%);

  --document-scroll-track-background: #dbdbdb;
  --document-scroll-track-border-radius: 5px;

  /* Scrollable */
  --scrollable-border-radius: 5px;
  --scrollable-thickness: 4px;
  --scrollable-track-background: #dbdbdb;
  --scrollable-slider-background: linear-gradient(to bottom, #DE4020 0%, orange 100%);

  /* Side-menu */
  --side-menu-background-color: var(--main-background-color); // Платиновый
  --side-menu-list-item-hover-color: #606060;

  /* Browser detail */
  --browser-detail-header-background-color: #fdf9f6;

  /* Login form */
  --login-form-background-color: var(--main-background-color);

  /* Page container */
  --page-container-background-color: linear-gradient(to top right, #ffffff 0%, #f8e1d0 100%);

  --browser-control-panel-padding-bottom-color: #ffede6;

  --main-padding-color: #e7e7e7;
  --side-menu-item-border-bottom: 1px solid var(--main-padding-color);
  --side-menu-sub-section-list-background-color: var(--main-hover-background-color);

  /* Browser table */
  --browser-table-tr-background-color: var(--main-hover-background-color);
  --select-dropdown-hover-background-color: var(--main-hover-background-color);
}

* {
  --document-scroll-background: linear-gradient(to bottom, var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
  --scrollable-slider-background: linear-gradient(to bottom, var(--color-gradient-1) 0%, var(--color-gradient-2) 100%);
}