.form {

  &__header-section-top {
    display: flex;
    justify-content: space-between;
  }

  &__header-section-bottom {

  }

  &__header {
    padding: 20px;
    position: sticky;
    z-index: 1;
    top: 0;
    background: var(--color-1, #ffffff);
    border-bottom: 1px solid var(--color-2, #dbdbdb);

    .tabs {
      top: 20px;
      left: -20px;
      width: calc(100% + 40px);
      justify-content: space-around;
    }

    .tabs__item {
      width: 100%;
    }
  }

  &__content {
    padding: 20px 30px;
  }

  &__header-title {
    margin: 0;
    color: grey;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: linear-gradient(to right, var(--color-gradient-1, #DE4020) 0%, var(--color-gradient-2, orange) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__footer {
    bottom: 0;
    background: var(--color-1, #ffffff);
    padding: 20px;
    display: flex;
    justify-content: right;
  }

  &__header-close-button {
    width: 28px;
    height: 28px;

    &:hover {
      cursor: pointer;

      svg {
        color: var(--color-gradient-2, orange);
      }
    }

    svg {
      width: 28px;
      height: 28px;
      color: var(--color-gradient-1, #DE4020);
    }
  }

  .label {
    font-family: Roboto;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: var(--color-5, #2b2b2b);
  }

  .input {
    display: block;
    outline: none;
    border-radius: 5px;
    border: none;
    height: 32px;
    padding: 8px 4px 8px 12px;
    flex: 1 30px;
    font-size: 14px;
    width: 100%;

    &__container {
      margin-top: 10px;
      display: flex;
      border-radius: 5px;
      border: 1px solid var(--color-2, #dbdbdb);

      &_error {
        border: 1px solid #ff5252;
      }

      &:focus-within {
        border: 1px solid var(--color-gradient-2, orange);
      }
    }

    &__error {
      color: #ff5252;
      font-size: 12px;
      max-width: 100%;
      min-height: 14px;
      margin-top: 5px;
      height: 14px;
    }
  }

  .select {

    &__container {
      outline: none;
      margin-top: 14px;
    }

    &__active-select-option-title {
      font-size: 14px;
    }

    &__active-select-option {
      padding: 5px;
      grid-gap: 2px;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      display: inline-flex;
      background: linear-gradient(to right, var(--color-gradient-1, #DE4020) 0%, var(--color-gradient-2, orange) 100%);
      color: white;
      border-radius: 5px;
      transition: opacity .3s;
      opacity: 1;

      &:hover {
        opacity: 0.8;
      }

      svg {
        height: 12px;
        width: 12px;
      }
    }

    &__active-select-option-cancel {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &__active-select {
      width: 100%;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      flex: 1 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: 'Roboto';
      padding: 7px 4px 8px 12px;
      height: 30px;

      &_multiple {
        padding: 2px 0 2px 2px;
        font-size: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        flex: 1 30px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        grid-gap: 2px;
      }
    }

    &__selected-container {
      display: flex;
      height: 32px;
      border-radius: 5px;
      background: var(--color-1, #ffffff);
      border: 1px solid var(--color-2, #dbdbdb);
      outline: none;

      &:focus {
        border: 1px solid var(--color-gradient-2, orange);
      }

      &.--has-errors {
        border: 1px solid #ff5252;
      }

      &.--multiple {
        height: auto;
        min-height: 30px;
      }

      &.--open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: 1px solid var(--color-gradient-2, orange);

        &:focus-within {
          border: 1px solid var(--color-gradient-2, orange);
        }
      }

      &.--open.--inverse {
        border-radius: 0 0 5px 5px;
      }
    }

    &__dropdown-icon-container {
      width: 25px;
      height: 30px;

      &:after {
        content: "";
        border-top: 0.3em solid var(--color-4, #757575);
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        position: relative;
        top: 0.2em;
        right: -7px;
        transition-property: transform;
        transition-duration: 0.5s;
        display: inline-block;
      }

      &_open {
        &::after {
          transform: rotate(180deg);
        }
      }
    }

    &__dropdown-container {
      position: relative;
      width: inherit;
    }

    &__dropdown {
      position: absolute;
      width: inherit;
      z-index: 99;
      background: var(--color-1, #ffffff);
      max-height: 150px;
      border: 1px solid var(--color-gradient-2, orange);
      border-top: none;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      &.--inverse {
        border: 1px solid var(--color-gradient-2, orange);
        border-bottom: none;
        border-radius: 5px 5px 0 0;
      }
    }

    &__dropdown-option {
      padding: 8px;
      border-bottom: 1px solid var(--color-2, #dbdbdb);
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      &:hover {
        cursor: pointer;
        background-color: var(--color-3);
      }

      &:last-of-type {
        border-bottom: none;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      &_selected {
        background-color: var(--color-3);
      }
    }
  }

  .input-file {

    &__btn-group {
      display: flex;
      flex-direction: column;
      grid-gap: 5px;
    }

    &__image-label {
      position: absolute;
      text-align: center;
      margin: auto;
      width: 100%;
      bottom: 70px;
      font-family: 'FiraSansExtraCondensed';
      z-index: 1;
      color: #ff6200;
      font-size: 14px;
    }

    &__container {
      padding: 10px;
      margin-top: 10px;
      display: flex;
      border: 1px solid var(--color-2, #dbdbdb);
      border-radius: 5px;

      &.--has-errors {
        border: 1px solid #ff5252;
      }

      &.--empty {
        border: none;
        padding: 0;
      }
    }

    &__cross-wrapper {
      display: flex;
      justify-content: center;
      height: 300px;
      width: 300px;
      align-items: center;
      transition: opacity .5s;
      opacity: 0;
      position: relative;
      z-index: 2;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      svg {
        width: 30px;
        height: 30px;
        z-index: 1;
        color: #DE4020;
      }
    }

    &__btn-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 5px;
    }

    &__image-overlay {
      background: black;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .6s;
      z-index: 2;
      border-radius: 5px;
      cursor: pointer;
    }

    &__image-container {
      width: 100%;
    }

    &__image-wrapper {
      height: 100%;
      width: 100%;
      position: relative;
      border-radius: 5px;

      >img, >svg {
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,0.40);
        border-radius: 5px;
        z-index: 1;
        transition: border .5s;
      }

      >svg {
        padding: 35px;
        color: #ff6200;
      }

      &:hover {

        .input-file__image-overlay {
          opacity: 0.4;
        }

        .input-file__cross-container {
          opacity: 1;
        }
      }
    }

    &__image-actions {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
    }

    &__input {
      background: var(--color-3, #ffffff);;
      border: 1px dashed var(--color-2, #dbdbdb);
      height: 135px;
      width: 100%;
      cursor: pointer;
      padding: 20px;
      border-radius: 5px;
      outline: none;
      transition: border .5s;

      &:hover {
        border: 1px dashed var(--color-gradient-2, orange);

        .input-file__label_choose {
          color: #8c8c8c;
        }

        .input-file__label_or {
          color: #8c8c8c;
        }
      }

      &:focus {
        border: 1px dashed var(--color-gradient-2, orange);

        .input-file__label_choose {
          color: #8c8c8c;
        }

        .input-file__label_or {
          color: #8c8c8c;
        }
      }
    }

    &__label {
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;

      &_choose {
        font-size: 18px;
        color: var(--color-4, #757575);
        transition: color .5s;
      }

      &_or {
        font-size: 14px;
        color: var(--color-4, #757575);
        transition: color .5s;
      }

      &_download {
        background: linear-gradient(to right, var(--color-gradient-1, #DE4020) 0%, var(--color-gradient-2, orange) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 18px;
      }

      &_description {
        font-size: 12px;
      }

      &_allow-formats {
        margin-top: 5px;
        font-size: 12px;
        font-family: Roboto;
        color: var(--color-4, #757575);
      }

      &_max-size {
        font-size: 12px;
        font-family: Roboto;
        color: var(--color-4, #757575);
      }
    }
  }

  .date {
    margin-top: 14px;
  }

  .textarea {
    margin-top: 10px;
    resize: none;
    outline: none;
    border: 1px solid var(--color-2, #dbdbdb);
    border-radius: 5px;
    min-height: 50px;
    width: 100%;
    padding: 8px 12px;
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;
  }
}