.grid {
    display: grid;
    grid-gap: 0 40px;
    gap: 20px;

    &.--2x2 > * {
        &.--full {
            grid-column: 1/3;
        }
    }

    &.--3x3 > * {
        &.--full {
            grid-column: 1/4;
        }
    }
}