.link {
  text-underline-offset: 5px;
  text-decoration: underline;

  &.--special {
    color: var(--color-gradient-intermediate, #ff6e00);
  }

  &.--default {
    color: var(--default-btn-color, #6c757d);
  }

  &.--primary {
    color: var(--primary-btn-color, #0d6efd);
  }

  &.--success {
    color: var(--success-btn-color, #198754);
  }

  &.--danger {
    color: var(--danger-btn-color, #dc3545);
  }

  &.--warning {
    color: var(--warning-btn-color, #ffc107);
  }
}