.side-menu {
  width: 240px;
  height: 100vh;
  background-color: var(--color-2, #dbdbdb);
  -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  z-index: 1;
  position: sticky;
  top: 0;

  &__icon {
    width: 14px;
    height: 14px;
    color: black;
  }

  &__logo-container {
    cursor: pointer;
  }

  &__logo-img {
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  &__header {
    flex-grow: 1;
    outline: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__footer {
    padding: 40px 30px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;

    a {
      font-family: FiraSansExtraCondensed;
      user-select: none;

      &:hover {
        cursor: pointer;
        color: #606060;
      }
    }
  }

  &__sub-sections-list {
    background: var(--color-3, #f3f3f3);
    max-height: 0;
    transition-property: max-height;
    transition-duration: 1.5s;
    position: relative;
    visibility: collapse;
    overflow-y: hidden;

    &_open {
      max-height: 100vh;
      z-index: 1;
      visibility: inherit;
    }

    &_closing {
      max-height: 0;
      transition-duration: 400ms, 10ms;
      z-index: 1;
      visibility: inherit;
    }
  }

  &__sub-sections-list-item {
    font-size: 14px;
    user-select: none;
    z-index: 1;
    position: relative;

    a {
      font-family: "FiraSansExtraCondensed";
      text-decoration: none;
      color: black;
    }

    &:hover {
      cursor: pointer;
      color: #606060;
    }

    a {
      padding: 10px 0 10px 30px;
      display: block;
    }

    a::before {
      content: "";
      border-bottom: 1px solid var(--color-gradient-2, orange);
      position: relative;
      left: -4px;
      top: -4px;
      width: 8px;
      display: inline-block;
    }
  }

  &__sections {
    overflow-y: auto;
  }

  &__sections-list-item {
    background: var(--color-2, #dbdbdb);
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    user-select: none;
    font-family: 'FiraSansExtraCondensed';
    position: relative;
    border-left: none;
    z-index: 2;
    border-bottom: 1px solid #cfcfcf;
    outline: none;

    >a {
      text-decoration: none;
      font-size: 14px;
      color: #000000;
      font-family: "FiraSansExtraCondensed";
      padding: 10px 10px 10px 20px;
      display: flex;
      flex-direction: row;

      :nth-child(2) {
        margin-left: 10px;
      }
    }

    &:hover {
      background-color: var(--color-7);
      cursor: pointer;
    }
  }

  &__sections-list-item-title {
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: row;

    :nth-child(2) {
      margin-left: 10px;
    }
  }

  &__sections-list-item-arrow {
    &::after {
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      position: absolute;
      top: 1.2em;
      right: 20px;
      transition-property: transform;
      transition-duration: 0.5s;
    }
  }

  &__sections-list-item-arrow_rotated {
    &::after {
      transform: rotate(180deg);
    }
  }
}